<fieldset  id="fieldset_adiciona_pagamento" class="fieldset-camposprincipais">
	<legend>Detalhe Pagamento</legend>
  	<% remote_form_for :pagamento, :url => { :action => "adiciona_pagamento" } do |f| %>
		<select id="pagamento_tipo" name="tipo_pagamento">
			<option value="Dinheiro">Dinheiro</option>
			<option value="Cartao">Cartão</option>
			<!--<option value="Conta">Conta</option>
			<option value="PrePago">Pré-Pago</option> -->
		</select>
		<label for="pagamento_valor">R$:</label>
		<input type="text" id="pagamento_valor" name="valor" size="8"/><br/>
		<div id="pagamento_complementos">
			<!-- Complemento para pagamento tipo Dinheiro -->
			<div id="pagamento_complemento_dinheiro" class="pagamento_complemento">
				<label for="pagamento_montante">Dinheiro:</label>
				<input type="text" id="pagamento_montante" name="montante" size="8"/>
				<label for="pagamento_troco">Troco:</label>
				<input type="text" id="pagamento_troco" disabled="true" size="8"/>
			</div>			
			
			<!-- Complemento para pagamento tipo Cartao -->
			<div id="pagamento_complemento_cartao" class="pagamento_complemento">
				<select name="bandeira_cartao">
					<option value="VisaDebito">Visa Débito</option>
					<option value="VisaCredito">Visa Crédito</option>
					<option value="MasterDebito">Master Débito</option>
					<option value="MasterCredito">Master Crédito</option>
				</select>
			</div>
			
			<!-- Complemento para pagamento tipo conta -->
			<div id="pagamento_complemento_conta" class="pagamento_complemento">
				<input type="hidden" id="pagamento_conta_cliente_id" name="cliente_id" value="">
				<label for="pagamento_conta_bloco">Bloco:</label>
				<input type="text" id="pagamento_conta_bloco" name="bloco" size="2"/>
				<label for="pagamento_conta_apartamento">Apto:</label>
				<input type="text" id="pagamento_conta_apartamento" name="apartamento" size="3"/><br/>
				<label for="pagamento_conta_nome">Nome:</label>
				<input type="text" id="pagamento_conta_nome" name="nome" size="30"/>				
				<div class="auto_complete" id="pagamento_conta_cliente_auto_complete"></div>
				<script type="text/javascript">
				  new Ajax.Autocompleter(
				    'pagamento_conta_nome',
				    'pagamento_conta_cliente_auto_complete',
				    '/clientes/autocomplete_cliente',
				    {
					  callback: function(e, qs) { return qs + 						
						'&bloco='+$F('pagamento_conta_bloco')+'&apartamento='+$F('pagamento_conta_apartamento');},
					  	minChars: 0
				 	}
				  );
				</script>	
			</div>			
			
			<!-- Complemento para pagamento tipo pre-pago -->
			<div id="pagamento_complemento_prepago" class="pagamento_complemento">
				<label for="pagamento_prepago_identificador">IDPréPago:</label>
				<input type="text" id="pagamento_prepago_identificador" name="prepago_id" size="10"/><br/>
			</div>
		</div>
  		<%= submit_tag "Confirmar", :disable_with => "Aguarde...", :id => "botao_adiciona_pagamento_submit"%>
		<button type="button" id="botao_adiciona_pagamento_cancelar">Cancelar</button>
	<%end%>
</fieldset>
