	<table id="tabela-lista-compras">
		<tr>
			<th>Item</th>
			<th>Valor Unitário</th>
			<th>Quantidade</th>
			<th>Valor Total</th>
			<th/>
		</tr>
		<% for item in @listacompras.items %>
		<tr>
			<td><%= item.descricao %></td>
			<td><%= item.produto.valor_venda %></td>
			<td><%= item.quantidade %></td>
			<td><%= item.valor_total%>	
			<td><%#= link_to_remote "remover", :url => {:action => "remover_dependente", :id => @cliente.id, :dependente => cliente_dependentes.id} %></td>
		</tr>
		<% end %>
	</table>