<tr>
	<td><%= listacompras.item.descricao %></td>
	<td><%= listacompras.item.produto.valor_venda %></td>
	<td><%= listacompras.item.quantidade %></td>
	<td><%= listacompras.item.valor_total%>	
	<td><%#= link_to_remote "remover", :url => {:action => "remover_dependente", :id => @cliente.id, :dependente => cliente_dependentes.id} %></td>
</tr>