<div id="selecao-produto">	
<%= render :partial => 'selecao_produto' %>
</div>
<div id="listagem-compras">
<%= render :partial => 'listagem_compras' %>
</div>
<div id="adiciona_pagamento">
<%= render :partial => 'adiciona_pagamento'%>
</div>
<div id="resumo-pagamento">
<%= render :partial => 'resumo_pagamento' %>
</div>